/* Browser reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body settting for children to inherit */
body {
    font-family: "Lato", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8), 
        rgba(40, 180, 133, 0.8)),
         url(../img/hero.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 2em;
    letter-spacing: 1.1em;
}