.footer {
   background-color: $color-gray-dark-3;
   padding: 10rem 0;
   font-size: 1.4rem;
   color: $color-gray-light-1;
   
   &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
   }

   &__logo {
    width: 15rem;
   }

   &__navigation {
    border-top: 1px solid $color-gray-light-2;
    padding-top: 2rem;
    display: inline-block; // to have border only occupy length of container
   }

   &__list {
       list-style: none;
   }

   &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
   }

   &__link {
       transition: all 0.3s;

        &:link,
        &:visited {
            color: inherit;
            background-color: $color-gray-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block; // required for animation
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .5);
            transform: rotate(5deg) scale(1.1);
        }
   }

   &__copyright {
        border-top: 1px solid $color-gray-light-2;
        padding-top: 2rem;
        width: 80%;
        float: right;
   }
}