.popup {
    background-color: rgba($color-black, 0.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 13;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, 0.3);
    }

    &__content {
        @include center_element;
        width: 80%;
        //height: 60%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        // creating "pop out of page" effect
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .5s .2s;

        @include respond(tab-land) {
            width: 95%;
        }

        @include respond(tab-port) {
            display: inline-block;
        }
    }

    &__left {
        width: calc(100% *(1/3));
        // float: left;
        display: table-cell;

        @include respond(tab-port) {
            display: none;
        }
        
    }

    &__right {
        width: calc(100% *(2/3));
        // float: left;
        display: table-cell;
        vertical-align: middle;
        padding: 0 5rem;

        @include respond(tab-port) {
            display: inline-block;
            width: calc(100%);
        }
    }


    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem; //overrides default value which is defined font-size
        column-rule: 1px solid $color-gray-dark; //line between columns

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; //only works with <html lang="en"> defined
        // also, for Chrome only works on Android/Mac platforms

        @include respond(tab-land) {
            column-count: 1;
            margin-bottom: 1rem;
        }
    }

        // Hide popup
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    
        // Show popup
        &:target {
            opacity: 1;
            visibility: visible;
        }

        &:target &__content {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    
        &__close {
            &:link,
            &:visited {
                color: $color-gray-dark;
                position: absolute;
                top: .5rem;
                right: 2.5rem;
                font-size: 3rem;
                text-decoration: none;
                //display: inline-block;
            }
    
            &:hover {
                color: $color-primary;
            }
        }
}