.popup {
    background-color: rgba($color-black, 0.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 13;

    // Hide popup
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    // Show popup
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        @include center_element;
        width: 80%;
        //height: 60%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: calc(100% *(1/3));
        // float: left;
        display: table-cell;
        
    }

    &__right {
        width: calc(100% *(2/3));
        // float: left;
        display: table-cell;
        vertical-align: middle;
        padding: 0 5rem;
    }


    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem; //overrides default value which is defined font-size
        column-rule: 1px solid $color-gray-dark; //line between columns

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; //only works with <html lang="en"> defined
        // also, for Chrome only works on Android/Mac platforms
    }
}