.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh; // shift block up to cover clip-path header wedge section
    //header was at 95vh and wedge was at 75vh so difference is 20vh

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.80),
        rgba($color-primary-dark, 0.80)),
        url(../img/nat-4.jpg);
    background-size: cover;
    
    transform: skewY(-7deg); // I used translateY(-10rem) to move it up
    margin-top: -10rem; // instructor used this

    & > * { // select direct child, which in this case is .row
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-gray-light-1;
    padding: 25rem 0 15rem 0; //top right bottom left
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    //background-color: $color-gray-light-1;
    position: relative;

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image:   linear-gradient(    105deg,
                                            rgba($color-white, .9) 0%,
                                            rgba($color-white, .9) 50%,
                                            transparent 50%),
                        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);

    //height: 50rem;

    @include respond(tab-land) {
        background-image:   linear-gradient(    105deg,
                                            rgba($color-white, .9) 0%,
                                            rgba($color-white, .9) 70%,
                                            transparent 70%),
                        url(../img/nat-10.jpg);
    }

    @include respond(tab-port) {
        background-image:   linear-gradient(    to right,
                                            rgba($color-white, .9) 0%,
                                            rgba($color-white, .9) 100%),
                        url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 70%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}